<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">-->
<nav class="navbar navbar-inverse primary">
  

 
 <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">   <span class="glyphicon glyphicon-signal" aria-hidden="true"></span> </a>
    </div>
  </div>
</nav>
<!--<p>This graph displays monthly time series (last trading day of each month, monthly open, monthly high, monthly low, monthly close, monthly volume) of the equity specified, covering up to 20 years of historical data.</p>-->
<!--<p>The graph is currently displaying <strong> {{stockSymbol}} </strong> data from the {{timeZone}} timezone</p>-->

<!--<p>Last Refreshed on <strong>{{lastRefreshed}}</strong></p>-->


<div class="card" class="panel panel-primary">
 
  <div class="card-block">
    <h4 class="card-title page-header" class="panel-heading panel-primary">Stock Details</h4>
    <p class="card-text">The graph is currently displaying <strong> {{stockSymbol}} </strong> data from the {{timeZone}} timezone</p>

<p>Last Refreshed on <strong>{{lastRefreshed}}</strong></p>

<p>
      <strong>Opening Price: </strong>{{todaysData.open}}<br>
       <strong>High:</strong>{{todaysData.high}}<br>
       <strong>Low:</strong>{{todaysData.low}}<br>
       <strong>Close:</strong>{{todaysData.close}}<br>
       <strong>Volume:</strong>{{todaysData.volume}}<br>


  
  </p>
  </div>
</div>

<!--<md-card-content>-->
<!--  <p>The graph is currently displaying <strong> {{stockSymbol}} </strong> data from the {{timeZone}} timezone</p>-->
      
<!-- Last Refreshed on <strong>{{lastRefreshed}}</strong>-->
      

<!--      <strong> Opening Price:</strong>{{todaysData.open}}<br>-->
<!--      <strong> High:{{todaysData.high}}<br>-->
<!--      <strong> Low:</strong>{{todaysData.low}}<br>-->
<!--      <strong>Close:</strong>  {{todaysData.close}}-->
      
      
      
<!--  </md-card-content>-->

<div class="row">
  <!--<div class="row"    *ngIf="lineChartData[0].data.length!==0" >-->
  <div class="col-md-6">
    <div>
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="stockQuery(searchInput.value)" >Search</button>
      </span>
      <input type="text" class="form-control" placeholder="Search for current stock data" #searchInput>
        <button type="button" class="btn btn-primary btn-block" (click)="updateView()" (click)="addStock(stockSymbol)">Add to Watch List</button>
</div>
    </div>
    <!-- /input-group -->
    <div style="display: block;">
      <canvas id="myChart" baseChart width="500" height="500" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)" *ngIf="lineChartData[0].data.length!==0"></canvas>
    </div>

  </div>
  
  <!--<button type="button" class="btn btn-primary" (click)="updateView()" (click)="addStock(stockSymbol)">Add to Watch List</button>-->

  <div class="col-md-6" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <tr>
        <!--<th *ngFor="let label of lineChartLabels">{{label}}</th>-->
      </tr>
      <tr *ngFor="let d of lineChartData">
        <!--<td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>-->
      </tr>
    </table>


  </div>



  <!--<h2 *ngIf="lineChartData[0].data.length!==0">Your News</h2>-->
  <!--<div class="col-md-4" *ngIf="lineChartData[0].data.length!==0">-->
  <!--  <div class="card" class="scroll-bar">-->
  <!--    <div class="card-block" *ngFor="let newsData of news">-->
  <!--      <h4 class="card-title">{{newsData.title}}</h4>-->
  <!--      <h6 class="card-subtitle mb-2 text-muted">{{newsData.byline}} </h6>-->
  <!--      <h6 class="card-subtitle mb-2 text-muted">Section : {{newsData.section}} </h6>-->
  <!--      <p class="card-text"> {{newsData.abstract}}</p>-->
  <!--      <a href="{{newsData.short_url}}" class="card-link">   Read about it more</a>-->


  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->


<!--  <div class="col-md-2" *ngIf="lineChartData[0].data.length!==0">-->
<!--  <div class="card" style="width: 20rem;" class="scroll-bar">-->
<!--    <img class="card-img-top" src="..." alt="Card image cap">-->
<!--    <div class="card-block" *ngFor="let newsData of news">-->
<!--      <h4 class="card-title">{{newsData.title}}</h4>-->
<!--      <p class="card-text">{{newsData.abstract}}</p>-->
<!--      <a href="{{newsData.short_url}}" class="btn btn-primary">Read more here</a>-->
<!--    </div>-->
<!--  </div>-->
<!-- </div>-->

<div  *ngIf="lineChartData[0].data.length!==0" class="col-md-3" >
  <h2 class="text-center page-header"> My WatchList</h2>
  
<ul  *ngFor="let stock of watchList" >
  <li class="list-group-item list-group-item-info text-center" (click)="loadStock(stock.stockSymbol)">Stock Symbol: {{stock.stockSymbol}}  <br> SMA Price  </li>
<!--   <button type="button" class="btn btn-default btn-sm pull-right" (click)="deleteStock(stock.id)">-->
<!--  <span class="glyphicon glyphicon-trash"  aria-hidden="true"></span> -->
<!--</button>-->
<button type="button" class="btn btn-danger btn-sm btn-block" (click)="deleteStock(stock.id)"> <span class="glyphicon glyphicon-trash"  aria-hidden="true"></span>
</button>

</ul>

</div>


</div>
