
.scroll-bar {
float:left;
width:1000px;
overflow-y: auto;
height: 400px;
}

.navbar{
    /*background-color:rgb(86, 129, 194);*/
     background-color:#337ab7;
    border-color: rgb(86, 129, 194);
}

.glyphicon {
    font-size: 35px;
}
.glyphicon-trash{
    
    
    font-size:15px;
}